In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [24]:
train = pd.read_csv("./train.csv")
test = pd.read_csv("./test.csv")

In [25]:
print(train)

                                                      Id  Expected
0        C1=CC(=CC=C1C(C2=CC=C(C=C2)O)C(Cl)(Cl)Cl)O;1644         2
1                                    CCCCCCCCC(=O)C;2451         2
2              CCCCCCCCCC[N+](C)(C)CCCCCCCCCC.[Cl-];1384         2
3           C1CN(C(=N1)N[N+](=O)[O-])CC2=CN=C(C=C2)Cl;16         2
4                                        [Na+].[I-];1856         2
...                                                  ...       ...
75378                 COC(=O)NS(=O)(=O)C1=CC=C(C=C1)N;33         2
75379            CCOP(=S)(OCC)OC1=NN(C(=N1)Cl)C(C)C;1632         1
75380                        C1=CC=C2C(=C1)NC(=S)S2;1373         1
75381                                     CCCCC(CC)C=O;2         2
75382  CC(C)(C)C1=CC(=CC(=C1O)C(C)(C)C)CCC(=O)NCCCCCC...         1

[75383 rows x 2 columns]

In [26]:
print(test)

                                                       x
0                         CC1=CC(=C(C=C1)C(C)(C)C)O;1682
1      CCS(=O)(=O)C1=C(N=CC=C1)S(=O)(=O)NC(=O)NC2=NC(...
2      CC1=NC2=CC=CC=C2N1C3CC4CCC(C3)N4CCC5(CCN(CC5)C...
3                    CC1=CC(=O)[N-]S(=O)(=O)O1.[K+];1850
4      CCC(C)(C)C(=O)O[C@H]1C[C@H](C=C2[C@H]1[C@H]([C...
...                                                  ...
10989  CC(=NOCC1=CC=CC=C1C(=NOC)C(=O)OC)C2=CC(=CC=C2)...
10990  C1=CC=C(C(=C1)C(C2=CC=C(C=C2)O)C3=CC=C(C=C3)O)...
10991  CC1=NC(=NC(=N1)OC)NC(=O)NS(=O)(=O)C2=CC=CC=C2C...
10992                           COP(=O)(OC)OC=C(Cl)Cl;28
10993                        C1=CC=C2C(=C1)C(=O)NS2;1855

[10994 rows x 1 columns]

In [27]:
def clean_data(data,id_val):
    carbon_values = []
    id_values = []
    for i in data[id_val]:
        carbon = 0
        element = 0
        split_semi = i.split(";")
        id_values.append(int(split_semi[-1]))
        compound_split = [*split_semi[0]]
        for i in compound_split:
            if i == "C":
                carbon = carbon+1;
        carbon_values.append(carbon)
    data_frame = {
        "Carbon":carbon_values,
        "ID_vals":id_values
    } 
    data_frame = pd.DataFrame(data_frame)
    return data_frame

In [28]:
train_data = clean_data(train,"Id")
train_data["Expected"] = train["Expected"]

In [29]:
test_data = clean_data(test,"x")

In [31]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
X = train_data.drop("Expected",axis=1)
y = train_data["Expected"]

In [32]:
model.fit(X,y)

GradientBoostingClassifier()

In [34]:
predict = model.predict(test_data)

,Number_of_elements,Number_of_numbers,Number_of_special_characters,Expected
0,22,16,4,2
1,11,3,0,2
2,25,11,0,2
3,18,19,4,2
4,3,7,0,2
...,...,...,...,...
75378,15,14,2,2
75379,19,13,2,1
75380,10,8,4,1
75381,9,3,0,2
75382,46,38,4,1

In [130]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
X = train_data.drop("Expected",axis=1)
y = train_data["Expected"]

In [131]:
model.fit(X,y)

RandomForestClassifier()

In [36]:
predict = model.predict(test_data)
ID_s = test.x.to_list()
submission_file = {
    "Id":ID_s,
    "Predicted":predict
}

In [37]:
sub_file = pd.DataFrame(submission_file)

In [38]:
sub_file.to_csv("Submission_1.csv",index=False)

In [132]:
number_of_unique_elements = []
special_characters = []
elements_count = []
numbers_count = []
special_count = []
number_of_compunds_cound = []
for i in data_test["x"]:
    number = 0
    element = 0
    specia_strings = 0
    split_semi_colen = i.split(";")
    numbers.append(int(split_semi_colen[-1]))
    compound = [*split_semi_colen[0]]
    for i in compound:
        number_of_unique_elements.append(i)
        if i.isnumeric():
            number = number+1
        elif i.isalpha():
            element = element+1
        else:
            specia_strings = specia_strings + 1
    numbers_count.append(number)
    elements_count.append(element)
    special_count.append(specia_strings)
new_test_data = {
    ""
    "Number_of_elements":elements_count,
    "Number_of_numbers":special_count,
    "Number_of_special_characters":numbers_count
}

test_data_sample = pd.DataFrame(new_test_data)

In [133]:
test_data_sample

       Number_of_elements  Number_of_numbers  Number_of_special_characters
0                      12                 11                             2
1                      28                 27                             4
2                      49                 31                            14
3                      11                 17                             2
4                      37                 42                             6
...                   ...                ...                           ...
10989                  29                 21                             4
10990                  24                 22                             6
10991                  26                 22                             4
10992                  13                  8                             0
10993                  10                  8                             4

[10994 rows x 3 columns]

In [156]:
predict = model.predict(test_data_sample)
print(data_test)

                                                       x
0                         CC1=CC(=C(C=C1)C(C)(C)C)O;1682
1      CCS(=O)(=O)C1=C(N=CC=C1)S(=O)(=O)NC(=O)NC2=NC(...
2      CC1=NC2=CC=CC=C2N1C3CC4CCC(C3)N4CCC5(CCN(CC5)C...
3                    CC1=CC(=O)[N-]S(=O)(=O)O1.[K+];1850
4      CCC(C)(C)C(=O)O[C@H]1C[C@H](C=C2[C@H]1[C@H]([C...
...                                                  ...
10989  CC(=NOCC1=CC=CC=C1C(=NOC)C(=O)OC)C2=CC(=CC=C2)...
10990  C1=CC=C(C(=C1)C(C2=CC=C(C=C2)O)C3=CC=C(C=C3)O)...
10991  CC1=NC(=NC(=N1)OC)NC(=O)NS(=O)(=O)C2=CC=CC=C2C...
10992                           COP(=O)(OC)OC=C(Cl)Cl;28
10993                        C1=CC=C2C(=C1)C(=O)NS2;1855

[10994 rows x 1 columns]

In [161]:
print(test_data)
submission_file = {
    "Id":data_test.x.to_list(),
    "Predicted":predict
}

       Number_of_elements  Number_of_numbers  Number_of_special_characters
0                      12                 11                             2
1                      28                 27                             4
2                      49                 31                            14
3                      11                 17                             2
4                      37                 42                             6
...                   ...                ...                           ...
10989                  29                 21                             4
10990                  24                 22                             6
10991                  26                 22                             4
10992                  13                  8                             0
10993                  10                  8                             4

[10994 rows x 3 columns]

In [163]:
sub_file = pd.DataFrame(submission_file)

In [164]:
sub_file

                                                      Id  Predicted
0                         CC1=CC(=C(C=C1)C(C)(C)C)O;1682          2
1      CCS(=O)(=O)C1=C(N=CC=C1)S(=O)(=O)NC(=O)NC2=NC(...          2
2      CC1=NC2=CC=CC=C2N1C3CC4CCC(C3)N4CCC5(CCN(CC5)C...          2
3                    CC1=CC(=O)[N-]S(=O)(=O)O1.[K+];1850          2
4      CCC(C)(C)C(=O)O[C@H]1C[C@H](C=C2[C@H]1[C@H]([C...          2
...                                                  ...        ...
10989  CC(=NOCC1=CC=CC=C1C(=NOC)C(=O)OC)C2=CC(=CC=C2)...          2
10990  C1=CC=C(C(=C1)C(C2=CC=C(C=C2)O)C3=CC=C(C=C3)O)...          2
10991  CC1=NC(=NC(=N1)OC)NC(=O)NS(=O)(=O)C2=CC=CC=C2C...          2
10992                           COP(=O)(OC)OC=C(Cl)Cl;28          2
10993                        C1=CC=C2C(=C1)C(=O)NS2;1855          2

[10994 rows x 2 columns]

In [167]:
sub_file.to_csv("Submission_1.csv",index=False)

                                                      Id  Predicted
0                         CC1=CC(=C(C=C1)C(C)(C)C)O;1682          1
1      CCS(=O)(=O)C1=C(N=CC=C1)S(=O)(=O)NC(=O)NC2=NC(...          2
2      CC1=NC2=CC=CC=C2N1C3CC4CCC(C3)N4CCC5(CCN(CC5)C...          1
3                    CC1=CC(=O)[N-]S(=O)(=O)O1.[K+];1850          2
4      CCC(C)(C)C(=O)O[C@H]1C[C@H](C=C2[C@H]1[C@H]([C...          2
...                                                  ...        ...
10989  CC(=NOCC1=CC=CC=C1C(=NOC)C(=O)OC)C2=CC(=CC=C2)...          1
10990  C1=CC=C(C(=C1)C(C2=CC=C(C=C2)O)C3=CC=C(C=C3)O)...          2
10991  CC1=NC(=NC(=N1)OC)NC(=O)NS(=O)(=O)C2=CC=CC=C2C...          1
10992                           COP(=O)(OC)OC=C(Cl)Cl;28          2
10993                        C1=CC=C2C(=C1)C(=O)NS2;1855          2

[10994 rows x 2 columns]

In [141]:
print(test_data)

       Number_of_elements  Number_of_numbers  Number_of_special_characters
0                      12                 11                             2
1                      28                 27                             4
2                      49                 31                            14
3                      11                 17                             2
4                      37                 42                             6
...                   ...                ...                           ...
10989                  29                 21                             4
10990                  24                 22                             6
10991                  26                 22                             4
10992                  13                  8                             0
10993                  10                  8                             4

[10994 rows x 3 columns]